body {            /* corpo */
   color: white;
   background-color: black;
   font-family: Arial, Helvetica, sans-serif;
   margin: 1px;
}

.container {       /* estrutura */
padding: 5px 50px;           /* em cima/em baixo | esquerda | direita */
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 16px;
}

#linguagens ul {           /* lista de linguagens */
    display: block;
    padding-left: 20px;
    list-style: square;     /* tipo de marcador */
}

nav a:hover {
    color: greenyellow;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
    align-items: center;
}

a img {
    width: 60px;
    height: 60px;
    padding: 15px;
}

#perfil {            /* foto */
    width: 140px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid greenyellow;
}

#capaProjetos {
    width: 100%;
    height: 400px; /* mantém proporção */
    display: block; /* remove espaço em branco */
}

#capaContato {
    width: 100%;
    height: 400px; /* mantém proporção */
    display: block; /* remove espaço em branco */
}

.textoTitulos {
    text-align: center;
}

.center {
    text-align: center;
}

#nome {            /* H1 nome */
    color: greenyellow;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

